<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.core.board.BoardMapper">
	<select id="getBoardList" parameterType="com.pjt.core.board.dto.CreateBoardReqDto" resultType="com.pjt.core.board.dto.BoardDto">
			/*게시판 리스트 (메인 조회시 mainFlg 넣기 ) */
		select
			board_id
			, board_title
			, board_content
			, board_writer
			, board_view_cnt
			, category
			, board_status
			, reg_dt
	  from board
		where 1=1
		<if test="category != null and category !=''">
			and category = #{category}
		</if>
		<if test="searchText !=null and searchText !='' ">
			<if test="searchFlg ==1 ">and board_title like concat('%' , #{searchText}, '%')</if>
			<if test="searchFlg ==2 ">and ((board_title like concat('%' , #{searchText}, '%')) or (board_content like concat('%' , #{searchText}, '%')))</if>
			<if test="searchFlg ==3 ">and board_content like concat('%' , #{searchText}, '%')</if>
		</if>
		and board_status ='Y'
		order by reg_dt desc

		<if test="mainFlg =='main'">
		 limit 5
		</if>
	</select>
</mapper>