<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.core.common.storage.mapper.StorageMapper">

    <insert id="insertBoardImage" parameterType="com.pjt.core.common.storage.entity.Storage">
        /* com.pjt.core.common.storage.StorageMapper.insertBoardImage */
        insert into board_img
            (board_id, emoticon_img_nm, img_ext_nm, img_file_size, file_url_path)
        values (#{typeKey}, #{imgSaveNm}, #{imgExtNm}, #{imgFileSize}, #{fileUrlPath});
    </insert>

    <insert id="insertProfileImage" parameterType="com.pjt.core.common.storage.entity.Storage">
        /* com.pjt.core.common.storage.StorageMapper.insertProfileImage */
        insert into profile_img
            (user_id, img_nm, img_ext_nm, img_file_size, file_url_path)
        values (#{typeKey}, #{imgSaveNm}, #{imgExtNm}, #{imgFileSize}, #{fileUrlPath});
    </insert>

    <insert id="insertEmotionImage" parameterType="com.pjt.core.common.storage.entity.Storage">
        /* com.pjt.core.common.storage.StorageMapper.insertEmotionImage */
        insert into emoticon_img
        (emoticon_detail_id, emoticon_img_nm, img_ext_nm, img_file_size, file_url_path)
        values (#{typeKey}, #{imgSaveNm}, #{imgExtNm}, #{imgFileSize}, #{fileUrlPath});
    </insert>

</mapper>
