<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.core.board.mapper.BoardMapper">
	
	<sql id="searchSql">
		<if test='keyword != null and keyword != ""'>
			<if test="searchOption == 'title' ">
				and board_title like concat('%', #{keyword}, '%')
			</if>
			<if test="searchOption == 'titleAndContent'">
				and (board_title like concat('%', #{keyword}, '%') 
				     or
				     board_content like concat('%', #{keyword}, '%')
			</if>
			<if test="searchOption == 'writer'">
				and board_writer like concat('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
<select id="getBoardTotalCount"
        parameterType="com.pjt.core.board.dto.BoardRequestDto"
        resultType="int">
	select 
	   count(*) 
	  from board
	<if test='category != null and category != ""'>
		where category = #{category}
	</if>
	<include refid="searchSql"/>
</select>

<select id="getBoard" 
        parameterType="com.pjt.core.board.dto.BoardRequestDto" 
        resultType="com.pjt.core.board.dto.ReadBoardResponseDto">
   select
        board_id
      , board_title
      , board_writer
      , board_view_cnt
      , coalesce(upt_dt, reg_dt) as reg_dt
    from board
   where category = #{category}
   <include refid="searchSql"/>
  <!-- and board_status = '' //공개만 조회(공통코드값 필요)  -->
  <if test='page != null and size != null'>
	<include refid="pagingUtil.page"/>
  </if>
</select>

<select id="getDetail" 
        parameterType="string" 
        resultType="com.pjt.core.board.dto.ReadBoardResponseDto">
	 select
          board_id
        , board_title
        , board_content
        , board_writer
        , board_view_cnt
        , category
        , board_status
        , coalesce(upt_dt, reg_dt)
     from board
    where board_id = #{boardId}
</select>

<select id="getImage" 
        parameterType="string" 
        resultType="com.pjt.core.board.dto.ReadBoardImgResponseDto">
 select
       img_no
     , board_id
     , emoticon_img_nm
     , img_ext_nm
     , img_file_size
     , file_url_path
   from board_img
  where board_id = #{boardId}
</select>

<insert id="createBoard" 
        parameterType="com.pjt.core.board.dto.CreateBoardRequestDto" 
        useGeneratedKeys="true"
        keyProperty="boardId">
  insert into board
  (
     board_title
   , board_content
   , board_writer
   , board_view_cnt
   , category
   , board_status
   , reg_dt
   , upt_dt
  )
 values 
 (
    #{boardTitle}
  , #{boardContent}
  , #{boardWriter}
  , 0
  , #{category}
  , #{boardStatus}
  , localtimestamp
  , localtimestamp
 )
</insert>

<insert id="createBoardImg" 
        parameterType="com.pjt.core.board.dto.FileResponseDto">
	insert into board_img
	(
	   board_id
	 , emoticon_img_nm
	 , img_ext_nm
	 , img_file_size
	 , file_url_path
	)
	values
	(
	   #{boardId}
	 , #{emoticonImgNm}
	 , #{imgExtNm}
	 , #{imgFileSize}
	 , #{uploadFilePath}
	)
</insert>
</mapper>
